.main-gallery {
    padding-top: 83px;
  }
  @media screen and (max-width: 768px) {
    .main-gallery {
      padding-top: 51px;
    }
  }
  .main-gallery-list {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    .main-gallery-list {
      margin-bottom: 41px;
    }
  }
  .main-gallery-list-item img {
    border-radius: 15px;
  }
  .main-gallery-slider {
    max-width: 86.2% !important;
    margin: 0 auto;
  }
  .main-gallery-slider img {
    border-radius: 15px;
  }
  @media screen and (max-width: 768px) {
    .main-gallery-slider {
      max-width: 100% !important;
    }
  }
  .main-gallery-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 32.6%;
    margin: 38px auto 0 auto;
  }
  @media screen and (max-width: 768px) {
    .main-gallery-slider .slick-dots {
      margin: 16.38px auto 0 auto;
    }
  }
  @media screen and (max-width: 420px) {
    .main-gallery-slider .slick-dots {
      max-width: 42.6%;
    }
  }
  @media screen and (max-width: 320px) {
    .main-gallery-slider .slick-dots {
      max-width: 52.6%;
    }
  }
  .main-gallery-slider .slick-dots button {
    background: #515050;
    border-radius: 30px;
    color: transparent;
    border: none;
    width: 54px;
    height: 8px;
    display: block;
  }
  @media screen and (max-width: 1230px) {
    .main-gallery-slider .slick-dots button {
      width: 48px;
    }
  }
  @media screen and (max-width: 1030px) {
    .main-gallery-slider .slick-dots button {
      width: 38px;
    }
  }
  @media screen and (max-width: 830px) {
    .main-gallery-slider .slick-dots button {
      width: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    .main-gallery-slider .slick-dots button {
      width: 23.36px;
      height: 3.45px;
    }
  }
  .main-gallery-slider .slick-dots .slick-active button {
    background: #f7a3f0;
  }